Repository salimfadhley/telegram_antilurk_bot: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, mypy, pytest-unit, bandit, yamllint

ruff-format:
  name: Ruff Format (uvx)
  entry: bash -c 'uvx ruff format'
  language: system
  pass_filenames: false

ruff-check:
  name: Ruff Lint (uvx)
  entry: bash -c 'uvx ruff check --fix'
  language: system
  pass_filenames: false

mypy:
  name: Mypy Type Check (uvx)
  entry: bash -c 'if [ -d src ] || rg -n \\.(py|pyi)$ > /dev/null; then uvx mypy $(git ls-files "*.py" "*.pyi" 2>/dev/null); else echo "No Python files found; skipping mypy"; fi'
  language: system
  pass_filenames: false

pytest-unit:
  name: Pytest Unit Suite (uvx)
  entry: bash -c 'if [ -d tests/unit ]; then uvx pytest -q tests/unit; else echo "No tests/unit; skipping unit tests"; fi'
  language: system
  pass_filenames: false

bandit:
  name: Bandit Security Scan (uvx)
  entry: bash -c 'if [ -d src ]; then uvx bandit -q -r src -x tests; else echo "No src directory; skipping bandit"; fi'
  language: system
  pass_filenames: false

yamllint:
  name: YAML Lint (uvx)
  entry: bash -c 'if rg -n "\\.ya?ml$" -g "!*venv*" -g "!*site-packages*" > /dev/null; then uvx yamllint -s .; else echo "No YAML files; skipping yamllint"; fi'
  language: system
  pass_filenames: false

feat: implement database models with TDD
  src/telegram_antilurk_bot/__pycache__/__init__.cpython-312.pyc
  src/telegram_antilurk_bot/__pycache__/__main__.cpython-312.pyc
  src/telegram_antilurk_bot/__pycache__/main.cpython-312.pyc
  src/telegram_antilurk_bot/config/__pycache__/__init__.cpython-312.pyc
  src/telegram_antilurk_bot/config/__pycache__/defaults.cpython-312.pyc
  src/telegram_antilurk_bot/config/__pycache__/loader.cpython-312.pyc
  src/telegram_antilurk_bot/config/__pycache__/schemas.cpython-312.pyc
  src/telegram_antilurk_bot/models/__init__.py
  src/telegram_antilurk_bot/models/__pycache__/__init__.cpython-312.pyc
  src/telegram_antilurk_bot/models/__pycache__/base.cpython-312.pyc
  src/telegram_antilurk_bot/models/__pycache__/message.cpython-312.pyc
  src/telegram_antilurk_bot/models/__pycache__/provocation.cpython-312.pyc
  src/telegram_antilurk_bot/models/__pycache__/user.cpython-312.pyc
  src/telegram_antilurk_bot/models/base.py
  src/telegram_antilurk_bot/models/message.py
  src/telegram_antilurk_bot/models/provocation.py
  src/telegram_antilurk_bot/models/user.py
  tests/__pycache__/conftest.cpython-312-pytest-8.4.2.pyc
  tests/unit/__pycache__/test_config_loader.cpython-312-pytest-8.4.2.pyc
  tests/unit/__pycache__/test_config_schemas.cpython-312-pytest-8.4.2.pyc
  tests/unit/__pycache__/test_database_models.cpython-312-pytest-8.4.2.pyc
  tests/unit/test_database_models.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit

chore(pre-commit): simplify to mypy then ruff (via uv run) as requested
  .pre-commit-config.yaml
  README.md
Due: yamllint

docs(dev): prefer uv/uvx only; document pre-commit install/run with uvx
  README.md
Due: none

chore(pre-commit): add pytest unit tests between mypy and ruff (uv run)
  .pre-commit-config.yaml
  README.md
Due: yamllint

docs(constitution): mandate ruff for formatting and mypy for types; enforce via pre-commit hooks
  .specify/memory/constitution.md
Due: none

docs(constitution): prefer function-style pytest tests and Click for CLI parsing
  .specify/memory/constitution.md
  src/telegram_antilurk_bot/py.typed
Due: none

docs: add Hypothesis (selective), docs/ hierarchy, and typing stubs policy to constitution and plan
  .specify/memory/constitution.md
  specs/001-lurker-kicking-bot/plan.md
Due: none

feat: implement type safety and code quality improvements
  .gitignore
  pyproject.toml
  src/telegram_antilurk_bot/__main__.py
  src/telegram_antilurk_bot/__pycache__/__init__.cpython-312.pyc
  src/telegram_antilurk_bot/__pycache__/__main__.cpython-312.pyc
  src/telegram_antilurk_bot/__pycache__/main.cpython-312.pyc
  src/telegram_antilurk_bot/config/__init__.py
  src/telegram_antilurk_bot/config/__pycache__/__init__.cpython-312.pyc
  src/telegram_antilurk_bot/config/__pycache__/defaults.cpython-312.pyc
  src/telegram_antilurk_bot/config/__pycache__/loader.cpython-312.pyc
  src/telegram_antilurk_bot/config/__pycache__/schemas.cpython-312.pyc
  src/telegram_antilurk_bot/config/defaults.py
  src/telegram_antilurk_bot/config/loader.py
  src/telegram_antilurk_bot/config/schemas.py
  src/telegram_antilurk_bot/models/__init__.py
  src/telegram_antilurk_bot/models/__pycache__/__init__.cpython-312.pyc
  src/telegram_antilurk_bot/models/__pycache__/base.cpython-312.pyc
  src/telegram_antilurk_bot/models/__pycache__/message.cpython-312.pyc
  src/telegram_antilurk_bot/models/__pycache__/provocation.cpython-312.pyc
  src/telegram_antilurk_bot/models/__pycache__/user.cpython-312.pyc
  src/telegram_antilurk_bot/models/base.py
  src/telegram_antilurk_bot/models/message.py
  src/telegram_antilurk_bot/models/provocation.py
  src/telegram_antilurk_bot/models/user.py
  tests/__pycache__/conftest.cpython-312-pytest-8.4.2.pyc
  tests/conftest.py
  tests/unit/__pycache__/test_config_loader.cpython-312-pytest-8.4.2.pyc
  tests/unit/__pycache__/test_config_schemas.cpython-312-pytest-8.4.2.pyc
  tests/unit/__pycache__/test_database_models.cpython-312-pytest-8.4.2.pyc
  tests/unit/test_config_loader.py
  tests/unit/test_config_schemas.py
  tests/unit/test_database_models.py
  uv.lock
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit

ci: add GitHub Actions for ruff, mypy, unit tests, and Docker build; release job bumps version and pushes ghcr tags
  .github/workflows/ci.yml
  Dockerfile
Due: yamllint

feat: implement Phase 3 - Telegram Bot Core with comprehensive testing
  pyproject.toml
  src/telegram_antilurk_bot/bot/__init__.py
  src/telegram_antilurk_bot/bot/core.py
  tests/unit/test_bot_core.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit

feat: implement Phase 4 (Audit & Scheduling) and Phase 5 (Challenge Flow)
  pyproject.toml
  src/telegram_antilurk_bot/audit/__init__.py
  src/telegram_antilurk_bot/audit/audit_engine.py
  src/telegram_antilurk_bot/audit/backlog_manager.py
  src/telegram_antilurk_bot/audit/lurker_selector.py
  src/telegram_antilurk_bot/audit/rate_limiter.py
  src/telegram_antilurk_bot/audit/scheduler.py
  src/telegram_antilurk_bot/challenges/__init__.py
  src/telegram_antilurk_bot/challenges/callback_handler.py
  src/telegram_antilurk_bot/challenges/challenge_engine.py
  src/telegram_antilurk_bot/challenges/composer.py
  src/telegram_antilurk_bot/challenges/modlog_notifier.py
  src/telegram_antilurk_bot/challenges/tracker.py
  src/telegram_antilurk_bot/database/__init__.py
  src/telegram_antilurk_bot/database/models.py
  src/telegram_antilurk_bot/database/session.py
  tests/unit/test_audit_scheduler.py
  tests/unit/test_challenge_flow.py
  uv.lock
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit

feat: implement Phase 6 - Message & Event Logging
  src/telegram_antilurk_bot/logging/__init__.py
  src/telegram_antilurk_bot/logging/lifecycle_logger.py
  src/telegram_antilurk_bot/logging/message_archiver.py
  src/telegram_antilurk_bot/logging/message_processor.py
  src/telegram_antilurk_bot/logging/nats_publisher.py
  src/telegram_antilurk_bot/logging/provocation_logger.py
  src/telegram_antilurk_bot/logging/user_tracker.py
  src/telegram_antilurk_bot/logging/view_updater.py
  tests/unit/test_message_logging.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit

feat(phase7): implement admin commands and reports system
  src/telegram_antilurk_bot/admin/__init__.py
  src/telegram_antilurk_bot/admin/checkuser_command.py
  src/telegram_antilurk_bot/admin/permission_validator.py
  src/telegram_antilurk_bot/admin/reboot_command.py
  src/telegram_antilurk_bot/admin/report_command.py
  src/telegram_antilurk_bot/admin/show_commands.py
  src/telegram_antilurk_bot/admin/unlink_command.py
  src/telegram_antilurk_bot/config/defaults.py
  src/telegram_antilurk_bot/logging/user_tracker.py
  tests/unit/test_admin_commands.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit

feat(phase8): complete deployment and operations infrastructure
  .env.example
  Dockerfile
  deploy/README.md
  deploy/docker-compose.yml
  deploy/portainer-stack.yml
  src/telegram_antilurk_bot/__main__.py
  src/telegram_antilurk_bot/config/defaults.py
  src/telegram_antilurk_bot/core/__init__.py
  src/telegram_antilurk_bot/core/bot.py
  src/telegram_antilurk_bot/database/__init__.py
  src/telegram_antilurk_bot/database/models.py
  src/telegram_antilurk_bot/database/session.py
  src/telegram_antilurk_bot/main.py
  tests/smoke/__init__.py
  tests/smoke/test_deployment.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit, yamllint

feat(phase9): complete final validation and testing infrastructure
  .env.example
  .gitignore
  README.md
  src/telegram_antilurk_bot/config/loader.py
  tests/contract/__init__.py
  tests/contract/test_component_contracts.py
  tests/integration/__init__.py
  tests/integration/test_full_workflow.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit

feat: enhance PostgreSQL external connectivity and validation setup
  .specify/memory/constitution.md
  deploy/DATABASE_SETUP.md
  deploy/EXTERNAL_DATABASE_VALIDATION.md
  deploy/configure_postgres_external.sh
  deploy/setup_external_postgres.md
  deploy/test_external_connection.py
  mind_of_steele_bot.iml
  pyproject.toml
  src/telegram_antilurk_bot/database/session.py
  tests/conftest.py
  tests/integration/test_database_connection.py
  tests/integration/test_environment_validation.py
  tests/integration/test_nats_connectivity.py
  uv.lock
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit

feat: add DB integration test; improve config path handling; strengthen exception-handling policy and docs
  data/config/channels.yaml
  data/config/config.yaml
  data/config/puzzles.yaml
  tests/integration/test_database_connection.py
  tests/integration/test_environment_validation.py
  tests/integration/test_telegram_connectivity.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit, yamllint

feat: integrate python-dotenv, fix linting issues and improve test infrastructure
  data/config/channels.yaml
  data/config/config.yaml
  data/config/puzzles.yaml
  src/telegram_antilurk_bot/__main__.py
  src/telegram_antilurk_bot/database/session.py
  src/telegram_antilurk_bot/logging/lifecycle_logger.py
  src/telegram_antilurk_bot/logging/nats_publisher.py
  src/telegram_antilurk_bot/main.py
  tests/conftest.py
  tests/contract/__init__.py
  tests/contract/test_component_contracts.py
  tests/integration/__init__.py
  tests/integration/test_database_connection.py
  tests/integration/test_environment_validation.py
  tests/integration/test_full_workflow.py
  tests/integration/test_nats_connectivity.py
  tests/integration/test_telegram_connectivity.py
  tests/smoke/__init__.py
  tests/smoke/test_deployment.py
  tests/unit/test_admin_commands.py
  tests/unit/test_audit_scheduler.py
  tests/unit/test_challenge_flow.py
  tests/unit/test_message_logging.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit, yamllint

fix: resolve CI workflow uv installation and simplify puzzle YAML format
  .github/workflows/ci.yml
  data/config/puzzles.yaml
  tests/data/config/channels.yaml
  tests/data/config/config.yaml
  tests/data/config/puzzles.yaml
Due: yamllint

fix: update tests for simplified puzzle format and add arithmetic puzzles
  src/telegram_antilurk_bot/config/defaults.py
  tests/unit/test_challenge_flow.py
  tests/unit/test_config_loader.py
  tests/unit/test_config_schemas.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit

fix: use datetime.UTC instead of timezone.utc for ruff compliance
  src/telegram_antilurk_bot/logging/lifecycle_logger.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit

fix: update test files to use datetime.now(datetime.UTC) instead of deprecated utcnow
  data/config/channels.yaml
  data/config/config.yaml
  data/config/puzzles.yaml
  tests/unit/test_admin_commands.py
  tests/unit/test_audit_scheduler.py
  tests/unit/test_bot_core.py
  tests/unit/test_challenge_flow.py
  tests/unit/test_database_models.py
  tests/unit/test_message_logging.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit, yamllint

fix: revert test files to use datetime.utcnow() for compatibility
  data/config/channels.yaml
  data/config/config.yaml
  data/config/puzzles.yaml
  tests/unit/test_admin_commands.py
  tests/unit/test_audit_scheduler.py
  tests/unit/test_bot_core.py
  tests/unit/test_challenge_flow.py
  tests/unit/test_database_models.py
  tests/unit/test_message_logging.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit, yamllint

fix: improve admin command test mocks and dependency injection
  data/config/channels.yaml
  data/config/config.yaml
  data/config/puzzles.yaml
  src/telegram_antilurk_bot/admin/unlink_command.py
  tests/unit/test_admin_commands.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit, yamllint

fix: improve checkuser command tests with proper dependency injection
  data/config/channels.yaml
  data/config/config.yaml
  data/config/puzzles.yaml
  src/telegram_antilurk_bot/admin/checkuser_command.py
  tests/unit/test_admin_commands.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit, yamllint

fix: improve report command tests with proper dependency injection
  data/config/channels.yaml
  data/config/config.yaml
  data/config/puzzles.yaml
  src/telegram_antilurk_bot/admin/report_command.py
  tests/unit/test_admin_commands.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit, yamllint

fix: complete admin commands test fixes with proper dependency injection
  data/config/channels.yaml
  data/config/config.yaml
  data/config/puzzles.yaml
  src/telegram_antilurk_bot/admin/reboot_command.py
  tests/unit/test_admin_commands.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit, yamllint

fix: resolve all test_message_logging.py failures
  AGENTS.md
  data/config/channels.yaml
  data/config/config.yaml
  data/config/puzzles.yaml
  src/telegram_antilurk_bot/audit/lurker_selector.py
  src/telegram_antilurk_bot/audit/rate_limiter.py
  src/telegram_antilurk_bot/audit/scheduler.py
  src/telegram_antilurk_bot/challenges/engine.py
  src/telegram_antilurk_bot/logging/lifecycle_logger.py
  src/telegram_antilurk_bot/logging/message_archiver.py
  src/telegram_antilurk_bot/logging/message_processor.py
  src/telegram_antilurk_bot/logging/nats_publisher.py
  src/telegram_antilurk_bot/logging/user_tracker.py
  src/telegram_antilurk_bot/logging/view_updater.py
  tests/data/config/channels.yaml
  tests/data/config/config.yaml
  tests/unit/test_message_logging.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit, yamllint

fix: improve audit scheduler tests with dependency injection
  data/config/channels.yaml
  data/config/config.yaml
  data/config/puzzles.yaml
  src/telegram_antilurk_bot/audit/scheduler.py
  src/telegram_antilurk_bot/challenges/challenge_engine.py
  tests/unit/test_audit_scheduler.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit, yamllint

feat: massive test fixes - achieve 94.8% pass rate!
  data/config/channels.yaml
  data/config/config.yaml
  data/config/puzzles.yaml
  src/telegram_antilurk_bot/audit/audit_engine.py
  src/telegram_antilurk_bot/audit/backlog_manager.py
  src/telegram_antilurk_bot/audit/lurker_selector.py
  src/telegram_antilurk_bot/audit/rate_limiter.py
  src/telegram_antilurk_bot/audit/scheduler.py
  src/telegram_antilurk_bot/challenges/callback_handler.py
  tests/unit/test_challenge_flow.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit, yamllint

fix(challenge,deploy): pass challenge-flow tests; robust async/sync mocks; include README in Docker image; add db_url fixture
  Dockerfile
  deploy/conftest.py
  src/telegram_antilurk_bot/challenges/callback_handler.py
  src/telegram_antilurk_bot/challenges/challenge_engine.py
  src/telegram_antilurk_bot/challenges/modlog_notifier.py
  tests/unit/data/config/channels.yaml
  tests/unit/data/config/config.yaml
  tests/unit/data/config/puzzles.yaml
  tests/unit/test_challenge_flow.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit, yamllint

style(ruff): organize imports in lurker_selector
  src/telegram_antilurk_bot/audit/lurker_selector.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit

test(onboarding): verify welcome on bot added and /start reuses mode UI
  data/config/channels.yaml
  data/config/config.yaml
  data/config/puzzles.yaml
  tests/unit/test_onboarding.py
Due: ruff-format, ruff-check, mypy, pytest-unit, bandit, yamllint

Path conditions:
  ruff-format: any of: \.py$
  ruff-check: any of: \.py$
  mypy: any of: \.py$
  pytest-unit: any of: \.py$
  bandit: any of: \.py$
  yamllint: any of: \.ya?ml$
